PORT=3001
NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:TU_PASSWORD@ep_xxxx.us-east-1.aws.neon.tech/cocteles_db?sslmode=require
BUSINESS_TIMEZONE=America/Bogota
JWT_SECRET=secreto_seguro
JWT_EXPIRATION=7d
